<font size="6">Calculate GHG Intensity per GDP, PPP </font>

In [1]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib

<font size="4">Load Environment Variables</font>

In [2]:
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [3]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [4]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

Open a Trino connection using JWT for authentication

In [5]:
# Show available schemas to ensure trino connection is set correctly
ingest_catalog = 'osc_datacommons_dev'
schema_read = engine.execute(f'show schemas in {ingest_catalog}')
for row in schema_read.fetchall():
    print(row)

('aicoe_osc_demo_results',)
('default',)
('demo_dv',)
('dera',)
('essd',)
('iceberg_demo',)
('information_schema',)
('ingest',)
('mdt_sandbox',)
('pcaf_sovereign_footprint',)
('sandbox',)
('wri_gppd',)

In [6]:
# define source and destination tables
# LULUCF (Land Use, Land-Use Change and Forestry)

ingest_schema = 'pcaf_sovereign_footprint'
ingest_table = 'sf_unfccc_results'
src_table_1 = 'sf_unfccc_with_lulucf'
src_table_2 = 'sf_unfccc_without_lulucf'
src_table_3 = 'sf_wdi_gdp'
src_table_4 = 'sf_primap_hist_emissions'
src_country_table = 'sf_unfccc_countries'

In [7]:
########################
essd_schema = 'mdt_sandbox'
essd_src_table = 'gwp100_data'
#essd_src_table = 'ghg_data'

In [8]:
def requantify_df(df):
    units_col = None
    columns_reversed = reversed(df.columns)
    for col in columns_reversed:
        if col.endswith("_units"):
            if units_col:
                # We expect _units column to follow a non-units column
                raise ValueError
            units_col = col
            continue
        if units_col:
            if col + '_units' != units_col:
                raise ValueError
            if (df[units_col]==df[units_col][0]).all():
                # Make a PintArray
                new_col = PintArray(df[col], dtype=f"pint[{ureg(df[units_col][0]).u}]")
            else:
                # Make a pd.Series of Quantity in a way that does not throw UnitStrippedWarning
                new_col = pd.Series(data=df[col], name=col) * pd.Series(data=df[units_col].map(lambda x: ureg(x).u), name=col)
            df = df.drop(columns=units_col)
            df[col] = new_col
            units_col = None
    return df

In [9]:
from openscm_units import unit_registry
#PintType.ureg = unit_registry
ureg = unit_registry
Q_ = ureg.Quantity
ureg.define("CO2e=CO2=CO2eq=CO2_eq")
ureg.define("USD=[currency]=$")

In [10]:
from pint import UnitRegistry, set_application_registry
set_application_registry(ureg)

In [11]:
import pandas as pd
from functools import reduce
import pandas as pd
import pint
from pint import set_application_registry, Quantity
from pint_pandas import PintArray, PintType
from pint_pandas.pint_array import is_pint_type

In [12]:
### ESSD data is not needed at the moment (maybe in the future)

'''
sql=f"""
select iso as country_iso_code,year(year) as validity_date, co2/1000 as value,t.* from {ingest_catalog}.{essd_schema}.{essd_src_table} t """ 
df_essd = pd.read_sql(sql, engine)
#df1["units"] = "kt"
df_essd = df_essd.convert_dtypes()
df_essd[df_essd['country_iso_code'] == 'ZWE'][df_essd['validity_date'] ==2020]
rename_columns = {'value':'total'}
agg_columns = { 'value' : 'sum'}
columns_order = ['attribute','industry_code','country_iso_code','validity_date','total','total_units']
df_essd = df_essd.groupby(['country_iso_code','validity_date'],as_index=False).agg(agg_columns).rename(columns=rename_columns)
df_essd
'''



#df_essd.info(verbose=True)

'\nsql=f"""\nselect iso as country_iso_code,year(year) as validity_date, co2/1000 as value,t.* from {ingest_catalog}.{essd_schema}.{essd_src_table} t """ \ndf_essd = pd.read_sql(sql, engine)\n#df1["units"] = "kt"\ndf_essd = df_essd.convert_dtypes()\ndf_essd[df_essd[\'country_iso_code\'] == \'ZWE\'][df_essd[\'validity_date\'] ==2020]\nrename_columns = {\'value\':\'total\'}\nagg_columns = { \'value\' : \'sum\'}\ncolumns_order = [\'attribute\',\'industry_code\',\'country_iso_code\',\'validity_date\',\'total\',\'total_units\']\ndf_essd = df_essd.groupby([\'country_iso_code\',\'validity_date\'],as_index=False).agg(agg_columns).rename(columns=rename_columns)\ndf_essd\n'

In [13]:
sql=f"""
select country_iso_code,country_name,validity_date,attribute,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_1} """ 
df1 = pd.read_sql(sql, engine)
#df1["units"] = "kt"
df1 = requantify_df(df1).convert_dtypes()
df1
df1.info(verbose=True)
sql=f"""
select t.country_iso_code,country_name,validity_date,attribute,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_2} t, {ingest_catalog}.{ingest_schema}.{src_country_table} c
where t.country_iso_code= c.country_iso_code and c.annex1_flag='Y'"""
df2 = pd.read_sql(sql, engine)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2256 entries, 0 to 2255
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_iso_code  2256 non-null   string
 1   country_name      2256 non-null   string
 2   validity_date     2256 non-null   Int64
 3   attribute         2256 non-null   string
 4   value             2256 non-null   pint[CO2e * kt]
dtypes: Int64(1), pint[CO2e * kt](1), string(3)
memory usage: 90.5 KB

In [14]:
#df2 = requantify_df(df2).convert_dtypes()
#df2
# gdp
sql=f"""
select country_iso_code,validity_date,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_3} where attribute='GDP (current US$)' """
df3 = pd.read_sql(sql, engine)
df3
df3 = requantify_df(df3).convert_dtypes()

In [15]:
# gdp ppp
sql=f"""
select country_iso_code,validity_date,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_3} where attribute='GDP, PPP (current international $)'"""
df4 = pd.read_sql(sql, engine)
df4 = requantify_df(df4).convert_dtypes()
df4

     country_iso_code  validity_date             value
0                 ABW           1993  1810796506.07813
1                 AFE           1993  596640286506.919
2                 AFW           1993  393736682679.601
3                 AGO           1993  30254629086.9296
4                 ALB           1993  6640664191.63066
...               ...            ...               ...
7467              XKX           2009  12090213804.3156
7468              YEM           2009  88427586026.4262
7469              ZAF           2009  634258446718.832
7470              ZMB           2009   38751988573.041
7471              ZWE           2009  19196771828.5698

[7472 rows x 3 columns]

In [16]:
# PRIMAP data

sql=f"""
select t.country_iso_code,validity_date,attribute,value,value_units from {ingest_catalog}.{ingest_schema}.{src_table_4} t
, {ingest_catalog}.{ingest_schema}.{src_country_table} c
where t.country_iso_code= c.country_iso_code and c.annex1_flag='N'
and attribute='KYOTOGHG (AR4GWP100)' and validity_date >=1960  """ 
df_primap = pd.read_sql(sql, engine)
#df_primap['value_units'] = 'kt CO2'
#df_primap = requantify_df(df_primap).convert_dtypes()
# convert to CO2 units to t
#df_primap['value'] = df_primap['value'].pint.to("t CO2e")
df_primap

,country_iso_code,validity_date,attribute,value,value_units
0,GHA,1960,KYOTOGHG (AR4GWP100),7080.0,CO2 * gigagram / a
1,GHA,1961,KYOTOGHG (AR4GWP100),6910.0,CO2 * gigagram / a
2,GHA,1962,KYOTOGHG (AR4GWP100),6480.0,CO2 * gigagram / a
3,GHA,1963,KYOTOGHG (AR4GWP100),6940.0,CO2 * gigagram / a
4,GHA,1964,KYOTOGHG (AR4GWP100),7150.0,CO2 * gigagram / a
...,...,...,...,...,...
9295,PER,2017,KYOTOGHG (AR4GWP100),98400.0,CO2 * gigagram / a
9296,PER,2018,KYOTOGHG (AR4GWP100),100000.0,CO2 * gigagram / a
9297,PER,2019,KYOTOGHG (AR4GWP100),102000.0,CO2 * gigagram / a
9298,PER,2020,KYOTOGHG (AR4GWP100),92000.0,CO2 * gigagram / a
9299,PER,2021,KYOTOGHG (AR4GWP100),101000.0,CO2 * gigagram / a

In [17]:
#df2 = pd.merge(df2,df_essd,on=['country_iso_code','validity_date'],how='outer')  
#df2.rename(columns={"value": "ghg_total_without_lulucf", "total": "ghg_total_without_lulucf_essd"},inplace=True)
df2 = pd.merge(df2,df_primap,on=['country_iso_code','validity_date'],how='outer')  
df2.rename(columns={"value_units_x":"value_units","value_x": "ghg_total_without_lulucf_unfccc","value_y": "ghg_total_without_lulucf_primap"},inplace=True)
df2=df2.convert_dtypes()
df2.info(verbose=True)
df_primap.info(verbose=True)
df2

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10633 entries, 0 to 10632
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   country_iso_code                 10633 non-null  string
 1   country_name                     1333 non-null   string
 2   validity_date                    10633 non-null  Int64
 3   attribute_x                      1333 non-null   string
 4   ghg_total_without_lulucf_unfccc  1333 non-null   Float64
 5   value_units                      1333 non-null   string
 6   attribute_y                      9300 non-null   string
 7   ghg_total_without_lulucf_primap  9300 non-null   Float64
 8   value_units_y                    9300 non-null   string
dtypes: Float64(2), Int64(1), string(6)
memory usage: 861.9 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9300 entries, 0 to 9299
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   country_iso_code  9300 non-null   object
 1   validity_date     9300 non-null   int64
 2   attribute         9300 non-null   object
 3   value             9300 non-null   float64
 4   value_units       9300 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 363.4+ KB

,country_iso_code,country_name,validity_date,attribute_x,ghg_total_without_lulucf_unfccc,value_units,attribute_y,ghg_total_without_lulucf_primap,value_units_y
0,ESP,Spain,2013,"Time Series - GHG total without LULUCF, in kt ...",323830.862883,kt CO2e,<NA>,<NA>,<NA>
1,ESP,Spain,2014,"Time Series - GHG total without LULUCF, in kt ...",325894.011352,kt CO2e,<NA>,<NA>,<NA>
2,ESP,Spain,2015,"Time Series - GHG total without LULUCF, in kt ...",337416.383116,kt CO2e,<NA>,<NA>,<NA>
3,ESP,Spain,2016,"Time Series - GHG total without LULUCF, in kt ...",325627.60049,kt CO2e,<NA>,<NA>,<NA>
4,ESP,Spain,2017,"Time Series - GHG total without LULUCF, in kt ...",338844.750121,kt CO2e,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...
10628,PER,<NA>,2017,<NA>,<NA>,<NA>,KYOTOGHG (AR4GWP100),98400.0,CO2 * gigagram / a
10629,PER,<NA>,2018,<NA>,<NA>,<NA>,KYOTOGHG (AR4GWP100),100000.0,CO2 * gigagram / a
10630,PER,<NA>,2019,<NA>,<NA>,<NA>,KYOTOGHG (AR4GWP100),102000.0,CO2 * gigagram / a
10631,PER,<NA>,2020,<NA>,<NA>,<NA>,KYOTOGHG (AR4GWP100),92000.0,CO2 * gigagram / a
10632,PER,<NA>,2021,<NA>,<NA>,<NA>,KYOTOGHG (AR4GWP100),101000.0,CO2 * gigagram / a

In [18]:
import numpy as np
df2['scope1_excl_source'] = np.where(df2.ghg_total_without_lulucf_unfccc.notnull(),
         'UNFCCC',
         np.where(df2.ghg_total_without_lulucf_primap.notnull(),
                  'PRIMAP','UNFCCC'))
#df2['scope1_source'] = df2['ghg_total_without_lulucf'].apply(lambda x: 'UNFCCC' if x.isnull() == True else 'PRIMAP')
df2["value"] = df2["ghg_total_without_lulucf_unfccc"].fillna(df2["ghg_total_without_lulucf_primap"])
df2.drop(columns=['attribute_x','attribute_y',"value_units_y","ghg_total_without_lulucf_unfccc","ghg_total_without_lulucf_primap"],inplace=True)

columns_order = ['country_iso_code','country_name','validity_date','value','value_units','scope1_excl_source']
df2 = df2.reindex(columns=columns_order).convert_dtypes()
df2.info(verbose=True)
##df2[df2["scope1_excl_source"] =='PRIMAP']
#df2 = requantify_df(df2)

#df2

#df2.sort_values(by=['country_iso_code','validity_date'], ascending=False).to_csv("tmp_scope1_waterfall.csv")
df2[df2["country_iso_code"] == 'CAN']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10633 entries, 0 to 10632
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_iso_code    10633 non-null  string
 1   country_name        1333 non-null   string
 2   validity_date       10633 non-null  Int64
 3   value               10633 non-null  Float64
 4   value_units         1333 non-null   string
 5   scope1_excl_source  10633 non-null  string
dtypes: Float64(1), Int64(1), string(4)
memory usage: 602.3 KB

,country_iso_code,country_name,validity_date,value,value_units,scope1_excl_source
278,CAN,Canada,2014,729599.78344,kt CO2e,UNFCCC
279,CAN,Canada,2015,732536.872406,kt CO2e,UNFCCC
280,CAN,Canada,2016,715095.857352,kt CO2e,UNFCCC
281,CAN,Canada,2017,725015.646612,kt CO2e,UNFCCC
282,CAN,Canada,2018,740006.269563,kt CO2e,UNFCCC
283,CAN,Canada,2019,738283.446069,kt CO2e,UNFCCC
284,CAN,Canada,2020,672354.02196,kt CO2e,UNFCCC
309,CAN,Canada,1990,594722.24342,kt CO2e,UNFCCC
310,CAN,Canada,1991,587905.793885,kt CO2e,UNFCCC
311,CAN,Canada,1992,605290.24882,kt CO2e,UNFCCC
312,CAN,Canada,1993,607681.076914,kt CO2e,UNFCCC
313,CAN,Canada,1994,628145.869194,kt CO2e,UNFCCC
314,CAN,Canada,1995,645455.296776,kt CO2e,UNFCCC
315,CAN,Canada,1996,666701.91023,kt CO2e,UNFCCC
316,CAN,Canada,1997,682298.998433,kt CO2e,UNFCCC
317,CAN,Canada,1998,688613.931025,kt CO2e,UNFCCC
318,CAN,Canada,1999,701758.711729,kt CO2e,UNFCCC
319,CAN,Canada,2000,726987.282993,kt CO2e,UNFCCC
320,CAN,Canada,2001,718320.043153,kt CO2e,UNFCCC
321,CAN,Canada,2002,724281.129555,kt CO2e,UNFCCC
322,CAN,Canada,2003,743286.854385,kt CO2e,UNFCCC
323,CAN,Canada,2004,745194.047463,kt CO2e,UNFCCC
324,CAN,Canada,2005,741182.843255,kt CO2e,UNFCCC
325,CAN,Canada,2006,734586.990027,kt CO2e,UNFCCC
326,CAN,Canada,2007,756833.258106,kt CO2e,UNFCCC
327,CAN,Canada,2008,739063.151649,kt CO2e,UNFCCC
328,CAN,Canada,2009,697734.944933,kt CO2e,UNFCCC
329,CAN,Canada,2010,709654.060679,kt CO2e,UNFCCC
330,CAN,Canada,2011,720820.930742,kt CO2e,UNFCCC
331,CAN,Canada,2012,725587.101942,kt CO2e,UNFCCC
332,CAN,Canada,2013,732162.301611,kt CO2e,UNFCCC

Read the source tables into dataframes

<font size="4">Merge the source dataframes in a single dataframe and calculate ghg intensity values</font>

In [19]:
df2 = df2.assign(value=np.where(df2.value.isnull(), 0, df2.value))
df2 = requantify_df(df2)
df2

/opt/app-root/lib64/python3.8/site-packages/pint_pandas/pint_array.py:227: RuntimeWarning: pint-pandas does not support magnitudes of object. Converting magnitudes to float.
  warnings.warn(

,country_iso_code,country_name,validity_date,value,scope1_excl_source
0,ESP,Spain,2013,323830.8628826538,UNFCCC
1,ESP,Spain,2014,325894.011352414,UNFCCC
2,ESP,Spain,2015,337416.3831164354,UNFCCC
3,ESP,Spain,2016,325627.6004899154,UNFCCC
4,ESP,Spain,2017,338844.7501206045,UNFCCC
...,...,...,...,...,...
10628,PER,<NA>,2017,98400.0,PRIMAP
10629,PER,<NA>,2018,100000.0,PRIMAP
10630,PER,<NA>,2019,102000.0,PRIMAP
10631,PER,<NA>,2020,92000.0,PRIMAP
10632,PER,<NA>,2021,101000.0,PRIMAP

In [20]:

df_result = pd.merge(df1,df2,on=['country_iso_code','validity_date'],how='outer')  
df_result=df_result.convert_dtypes()
df_result.drop(columns=['country_name_y','attribute'],inplace=True)
df_result.rename(columns={"country_name_x":"country_name","value_x": "ghg_total_with_lulucf","value_y": "ghg_total_without_lulucf"},inplace=True)

###

df_result = pd.merge(df_result,df3,on=['country_iso_code','validity_date'],how="outer")  
df_result.rename(columns={"value":"gdp"},inplace=True)
###
df_result = pd.merge(df_result,df4,on=['country_iso_code','validity_date'],how="outer")  
df_result.rename(columns={"value":"gdp_ppp"},inplace=True)



df_result["ghg_intensity_with_lulucf_per_gdp"] = df_result["ghg_total_with_lulucf"]/df_result["gdp_ppp"]*1000000
df_result["ghg_intensity_without_lulucf_per_gdp"] = df_result["ghg_total_without_lulucf"]/df_result["gdp_ppp"]*1000000
df_result.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15025 entries, 0 to 15024
Data columns (total 10 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country_iso_code                      15025 non-null  string
 1   country_name                          2256 non-null   string
 2   validity_date                         15025 non-null  Int64
 3   ghg_total_with_lulucf                 2256 non-null   pint[CO2e * kt]
 4   ghg_total_without_lulucf              10633 non-null  pint[CO2e * kt]
 5   scope1_excl_source                    10633 non-null  string
 6   gdp                                   13118 non-null  pint[USD]
 7   gdp_ppp                               7472 non-null   pint[USD]
 8   ghg_intensity_with_lulucf_per_gdp     2090 non-null   pint[CO2e * kt / USD]
 9   ghg_intensity_without_lulucf_per_gdp  5594 non-null   pint[CO2e * kt / USD]
dtypes: Int64(1), pint[CO2e * kt / USD](2), pint[CO2e * kt](2), pint[USD](2), string(3)
memory usage: 1.3 MB

In [21]:
# If DF_COL contains Pint quantities (because it is a PintArray or an array of Pint Quantities),
# return a two-column dataframe of magnitudes and units.
# If DF_COL contains no Pint quanities, return it unchanged.

def dequantify_column(df_col: pd.Series):
    if type(df_col.values)==PintArray:
        return pd.DataFrame({df_col.name: df_col.values.quantity.m,
                             df_col.name + "_units": str(df_col.values.dtype.units)},
                            index=df_col.index)
    elif df_col.size==0:
        return df_col
    elif isinstance(df_col.iloc[0], Quantity):
        values = df_col.map(lambda x: (x.m, x.u))
        return pd.DataFrame({df_col.name: df_col.map(lambda x: x.m),
                             df_col.name + "_units": df_col.map(lambda x: str(x.u))},
                            index=df_col.index)
    else:
        return df_col

# Rewrite dataframe DF so that columns containing Pint quantities are represented by a column for the Magnitude and column for the Units.
# The magnitude column retains the original column name and the units column is renamed with a _units suffix.
def dequantify_df(df):
    return pd.concat([dequantify_column(df[col]) for col in df.columns], axis=1)

In [22]:
df1 = dequantify_df(df1)
df2 = dequantify_df(df2)
df3 = dequantify_df(df3)
df_result = dequantify_df(df_result)
df_result=df_result.convert_dtypes()
df_result.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15025 entries, 0 to 15024
Data columns (total 16 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   country_iso_code                            15025 non-null  string
 1   country_name                                2256 non-null   string
 2   validity_date                               15025 non-null  Int64
 3   ghg_total_with_lulucf                       2256 non-null   Float64
 4   ghg_total_with_lulucf_units                 15025 non-null  string
 5   ghg_total_without_lulucf                    10633 non-null  Float64
 6   ghg_total_without_lulucf_units              15025 non-null  string
 7   scope1_excl_source                          10633 non-null  string
 8   gdp                                         13118 non-null  Float64
 9   gdp_units                                   15025 non-null  string
 10  gdp_ppp                                     7472 non-null   Float64
 11  gdp_ppp_units                               15025 non-null  string
 12  ghg_intensity_with_lulucf_per_gdp           2090 non-null   Float64
 13  ghg_intensity_with_lulucf_per_gdp_units     15025 non-null  string
 14  ghg_intensity_without_lulucf_per_gdp        5594 non-null   Float64
 15  ghg_intensity_without_lulucf_per_gdp_units  15025 non-null  string
dtypes: Float64(6), Int64(1), string(9)
memory usage: 2.0 MB

In [23]:

# make sure schema exists, or table creation below will fail in weird ways
sql = f"""
CREATE SCHEMA if not exists {ingest_catalog}.{ingest_schema}
 AUTHORIZATION USER mersin35
 WITH (
     location = 's3a://osc-datacommons-s3-bucket-dev02/data/pcaf_covereign.db'
 )
"""
print(sql)
qres = engine.execute(sql)
#print(qres.fetchall())

CREATE SCHEMA if not exists osc_datacommons_dev.pcaf_sovereign_footprint
 AUTHORIZATION USER mersin35
 WITH (
     location = 's3a://osc-datacommons-s3-bucket-dev02/data/pcaf_covereign.db'
 )

Run these in a notebook cell if you need to install onto your nb env

<font size="5">Save the results in Trino</font>

In [24]:
import osc_ingest_trino as osc
#df_result['validity_date']=pd.to_datetime(df_result['validity_date'], unit='D')
#df_result=df_result.convert_dtypes()
#df_result.info()
columnschema = osc.create_table_schema_pairs(df_result) 
sql = f"""
drop table if exists {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
print(sql)
qres = engine.execute(sql)
#print(qres.fetchall())

drop table if exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_unfccc_results

In [25]:
tabledef = f"""
create table if not exists {ingest_catalog}.{ingest_schema}.{ingest_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = array['country_iso_code']
)
"""
print(tabledef)
qres = engine.execute(tabledef)
#print(qres.fetchall())

create table if not exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_unfccc_results(
    country_iso_code varchar,
    country_name varchar,
    validity_date bigint,
    ghg_total_with_lulucf double,
    ghg_total_with_lulucf_units varchar,
    ghg_total_without_lulucf double,
    ghg_total_without_lulucf_units varchar,
    scope1_excl_source varchar,
    gdp double,
    gdp_units varchar,
    gdp_ppp double,
    gdp_ppp_units varchar,
    ghg_intensity_with_lulucf_per_gdp double,
    ghg_intensity_with_lulucf_per_gdp_units varchar,
    ghg_intensity_without_lulucf_per_gdp double,
    ghg_intensity_without_lulucf_per_gdp_units varchar
) with (
    format = 'ORC',
    partitioning = array['country_iso_code']
)

In [26]:
# Delete all data from our db, so we start with empty table
sql=f"""
delete from {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
qres = engine.execute(sql)
#print(qres.fetchall())

In [27]:
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table}
"""
pd.read_sql(sql, engine)

Empty DataFrame
Columns: [country_iso_code, country_name, validity_date, ghg_total_with_lulucf, ghg_total_with_lulucf_units, ghg_total_without_lulucf, ghg_total_without_lulucf_units, scope1_excl_source, gdp, gdp_units, gdp_ppp, gdp_ppp_units, ghg_intensity_with_lulucf_per_gdp, ghg_intensity_with_lulucf_per_gdp_units, ghg_intensity_without_lulucf_per_gdp, ghg_intensity_without_lulucf_per_gdp_units]
Index: []

In [28]:
print(ingest_catalog)
#df=df.drop(df[df.country_name=="cote d'ivoire"].index)
df_result.to_sql(ingest_table,
           con=engine,
           schema=ingest_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 1000, verbose = True))

osc_datacommons_dev
constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_unfccc_results"
inserting 1000 records
  ('ARM', 'Armenia', 2010, 6663.592, 'CO2e * kt', 8480.0, 'CO2e * kt', 'PRIMAP', 9260284937.79781, 'USD', 21600412735.6691, 'USD', 0.30849373489036647, 'CO2e * kt / USD', 0.3925850910245267, 'CO2e * kt / USD')
  ('UKR', 'Ukraine', 2013, 427974.6451467508, 'CO2e * kt', 408987.8823865379, 'CO2e * kt', 'UNFCCC', 190498811460.028, 'USD', 505437818647.747, 'USD', 0.8467404482944273, 'CO2e * kt / USD', 0.8091754658975616, 'CO2e * kt / USD')
  ('UKR', 'Ukraine', 2014, 382638.0926524506, 'CO2e * kt', 362562.3435831411, 'CO2e * kt', 'UNFCCC', 133503411375.739, 'USD', 461987202639.989, 'USD', 0.8282439220521602, 'CO2e * kt / USD', 0.784788716032192, 'CO2e * kt / USD')
  ...
  ('DEU', 'Germany', 2009, 882930.679371177, 'CO2e * kt', 902742.0596776552, 'CO2e * kt', 'UNFCCC', 3411261212652.34, 'USD', 3015302562180.53, 'USD', 0.2928166116546134, 'CO2e * kt / USD', 0.29938689105375654, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('DEU', 'Germany', 2010, 921074.0253242089, 'CO2e * kt', 935768.3641716995, 'CO2e * kt', 'UNFCCC', 3399667820000.01, 'USD', 3185431779787.34, 'USD', 0.28915201737131535, 'CO2e * kt / USD', 0.29376499917828147, 'CO2e * kt / USD')
  ('DEU', 'Germany', 2011, 895267.3666293244, 'CO2e * kt', 911243.7741955409, 'CO2e * kt', 'UNFCCC', 3749314991050.59, 'USD', 3415020684916.05, 'USD', 0.2621557668987684, 'CO2e * kt / USD', 0.26683404238822106, 'CO2e * kt / USD')
  ('DEU', 'Germany', 2012, 890853.0729554875, 'CO2e * kt', 916901.0167330219, 'CO2e * kt', 'UNFCCC', 3527143188785.16, 'USD', 3487232707438.34, 'USD', 0.255461320678508, 'CO2e * kt / USD', 0.2629308376172468, 'CO2e * kt / USD')
  ...
  ('BFA', 'Burkina Faso', 2016, 70689.72, 'CO2e * kt', 27700.0, 'CO2e * kt', 'PRIMAP', 12833363370.174, 'USD', 35340335154.5367, 'USD', 2.0002560725835514, 'CO2e * kt / USD', 0.7838069412435695, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('BFA', 'Burkina Faso', 2017, 72116.36, 'CO2e * kt', 28600.0, 'CO2e * kt', 'PRIMAP', 14106956830.0857, 'USD', 39238401912.359, 'USD', 1.8379025772016817, 'CO2e * kt / USD', 0.7288777984353078, 'CO2e * kt / USD')
  ('MUS', 'Mauritius', 2013, 6184.257136, 'CO2e * kt', 7200.0, 'CO2e * kt', 'PRIMAP', 12129642296.4425, 'USD', 22487480674.6131, 'USD', 0.2750088916354967, 'CO2e * kt / USD', 0.3201781517539371, 'CO2e * kt / USD')
  ('MCO', 'Monaco', 2013, 91.2125170799368, 'CO2e * kt', 91.291176805483, 'CO2e * kt', 'UNFCCC', 6555983530.34932, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('TON', NULL, 1998, NULL, 'CO2e * kt', 251.0, 'CO2e * kt', 'PRIMAP', 191504892.761394, 'USD', 329127831.627842, 'USD', NULL, 'CO2e * kt / USD', 0.7626216195651777, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('TON', NULL, 1999, NULL, 'CO2e * kt', 277.0, 'CO2e * kt', 'PRIMAP', 199214633.22171, 'USD', 346151668.138573, 'USD', NULL, 'CO2e * kt / USD', 0.800227257287433, 'CO2e * kt / USD')
  ('TON', NULL, 2001, NULL, 'CO2e * kt', 243.0, 'CO2e * kt', 'PRIMAP', 181116952.7897, 'USD', 378828855.735825, 'USD', NULL, 'CO2e * kt / USD', 0.6414506084231746, 'CO2e * kt / USD')
  ('TON', NULL, 2002, NULL, 'CO2e * kt', 241.0, 'CO2e * kt', 'PRIMAP', 182763693.916873, 'USD', 403384928.588722, 'USD', NULL, 'CO2e * kt / USD', 0.5974442348234474, 'CO2e * kt / USD')
  ...
  ('GEO', NULL, 1970, NULL, 'CO2e * kt', 49400.0, 'CO2e * kt', 'PRIMAP', NULL, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('GEO', NULL, 1971, NULL, 'CO2e * kt', 49200.0, 'CO2e * kt', 'PRIMAP', NULL, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('GEO', NULL, 1972, NULL, 'CO2e * kt', 51900.0, 'CO2e * kt', 'PRIMAP', NULL, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('GEO', NULL, 1973, NULL, 'CO2e * kt', 50300.0, 'CO2e * kt', 'PRIMAP', NULL, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('SDN', NULL, 2007, NULL, 'CO2e * kt', 97600.0, 'CO2e * kt', 'PRIMAP', 59440139774.8128, 'USD', 157856873407.813, 'USD', NULL, 'CO2e * kt / USD', 0.6182815983429288, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('SDN', NULL, 2008, NULL, 'CO2e * kt', 98600.0, 'CO2e * kt', 'PRIMAP', 64831935604.2484, 'USD', 167073277022.964, 'USD', NULL, 'CO2e * kt / USD', 0.5901602084841345, 'CO2e * kt / USD')
  ('SDN', NULL, 2009, NULL, 'CO2e * kt', 100000.0, 'CO2e * kt', 'PRIMAP', 58316191440.365, 'USD', 163490408364.716, 'USD', NULL, 'CO2e * kt / USD', 0.6116566776010433, 'CO2e * kt / USD')
  ('SDN', NULL, 2010, NULL, 'CO2e * kt', 100000.0, 'CO2e * kt', 'PRIMAP', 74151186600.1735, 'USD', 171838885203.696, 'USD', NULL, 'CO2e * kt / USD', 0.5819404605742237, 'CO2e * kt / USD')
  ...
  ('MUS', NULL, 1998, NULL, 'CO2e * kt', 3560.0, 'CO2e * kt', 'PRIMAP', 4169664285.38681, 'USD', 9294702745.76716, 'USD', NULL, 'CO2e * kt / USD', 0.38301386255964304, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('MUS', NULL, 1999, NULL, 'CO2e * kt', 3890.0, 'CO2e * kt', 'PRIMAP', 4343710332.80658, 'USD', 9671785042.87328, 'USD', NULL, 'CO2e * kt / USD', 0.4022008329130901, 'CO2e * kt / USD')
  ('MUS', NULL, 2007, NULL, 'CO2e * kt', 6180.0, 'CO2e * kt', 'PRIMAP', 8150138757.15741, 'USD', 16641234384.5373, 'USD', NULL, 'CO2e * kt / USD', 0.3713666821340087, 'CO2e * kt / USD')
  ('MUS', NULL, 2008, NULL, 'CO2e * kt', 6380.0, 'CO2e * kt', 'PRIMAP', 9990370016.30771, 'USD', 17874052619.9371, 'USD', NULL, 'CO2e * kt / USD', 0.35694199494990925, 'CO2e * kt / USD')
  ...
  ('SSD', NULL, 1997, NULL, 'CO2e * kt', 46000.0, 'CO2e * kt', 'PRIMAP', NULL, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('SSD', NULL, 1998, NULL, 'CO2e * kt', 49200.0, 'CO2e * kt', 'PRIMAP', NULL, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('SSD', NULL, 1999, NULL, 'CO2e * kt', 50100.0, 'CO2e * kt', 'PRIMAP', NULL, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('SSD', NULL, 2000, NULL, 'CO2e * kt', 53800.0, 'CO2e * kt', 'PRIMAP', NULL, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('WSM', NULL, 1982, NULL, 'CO2e * kt', 260.0, 'CO2e * kt', 'PRIMAP', 121221651.619316, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('WSM', NULL, 1983, NULL, 'CO2e * kt', 261.0, 'CO2e * kt', 'PRIMAP', 111862823.574979, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('WSM', NULL, 1984, NULL, 'CO2e * kt', 265.0, 'CO2e * kt', 'PRIMAP', 109200934.328518, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('WSM', NULL, 1985, NULL, 'CO2e * kt', 274.0, 'CO2e * kt', 'PRIMAP', 95572172.9835657, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('ARM', NULL, 1998, NULL, 'CO2e * kt', 9500.0, 'CO2e * kt', 'PRIMAP', 1893726437.26462, 'USD', 7184486827.46663, 'USD', NULL, 'CO2e * kt / USD', 1.322293467597582, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('ARM', NULL, 1999, NULL, 'CO2e * kt', 7500.0, 'CO2e * kt', 'PRIMAP', 1845482173.02732, 'USD', 7526162157.25132, 'USD', NULL, 'CO2e * kt / USD', 0.9965238382186445, 'CO2e * kt / USD')
  ('ARM', NULL, 2001, NULL, 'CO2e * kt', 6120.0, 'CO2e * kt', 'PRIMAP', 2118467913.37873, 'USD', 9134510731.77184, 'USD', NULL, 'CO2e * kt / USD', 0.6699866232258388, 'CO2e * kt / USD')
  ('ARM', NULL, 2002, NULL, 'CO2e * kt', 5910.0, 'CO2e * kt', 'PRIMAP', 2376335048.39976, 'USD', 10501422441.8107, 'USD', NULL, 'CO2e * kt / USD', 0.5627809025632315, 'CO2e * kt / USD')
  ...
  ('SRB', NULL, 2000, NULL, 'CO2e * kt', 62100.0, 'CO2e * kt', 'PRIMAP', 6875845986.52121, 'USD', 45241750399.7508, 'USD', NULL, 'CO2e * kt / USD', 1.3726259362489666, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('SRB', NULL, 2001, NULL, 'CO2e * kt', 67100.0, 'CO2e * kt', 'PRIMAP', 12960538723.7591, 'USD', 48637197273.5251, 'USD', NULL, 'CO2e * kt / USD', 1.379602521556579, 'CO2e * kt / USD')
  ('SRB', NULL, 2002, NULL, 'CO2e * kt', 70700.0, 'CO2e * kt', 'PRIMAP', 17120906918.3503, 'USD', 54159510181.051, 'USD', NULL, 'CO2e * kt / USD', 1.3054032387600152, 'CO2e * kt / USD')
  ('SRB', NULL, 2003, NULL, 'CO2e * kt', 74000.0, 'CO2e * kt', 'PRIMAP', 22482365321.7656, 'USD', 57194996268.0476, 'USD', NULL, 'CO2e * kt / USD', 1.293819474228039, 'CO2e * kt / USD')
  ...
  ('LMY', NULL, 2003, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 6937667685211.88, 'USD', 22778318824348.0, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('LTE', NULL, 2003, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 4248163141419.11, 'USD', 12448913419957.5, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('MAC', NULL, 2003, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 8246521717.44876, 'USD', 19787740811.0719, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('MEA', NULL, 2003, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 1148509587284.79, 'USD', 4141124788803.52, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('TEA', NULL, 2013, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 11855675717376.6, 'USD', 22071680580688.3, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('TEC', NULL, 2013, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 4920929704588.63, 'USD', 8877954218301.2, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('TLA', NULL, 2013, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 6089681481339.62, 'USD', 8802799065244.62, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('TMN', NULL, 2013, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 1602807885620.79, 'USD', 4027398622904.48, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('AFW', NULL, 1962, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 11943187848.3043, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('AUS', NULL, 1962, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 19922723709.262, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('AUT', NULL, 1962, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 7756110210.11966, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('BEL', NULL, 1962, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 13264015675.3193, 'USD', NULL, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('OED', NULL, 2010, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 45256835507640.8, 'USD', 44546772188110.4, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 1000 records
  ('OSS', NULL, 2010, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 322471063932.647, 'USD', 584344999188.372, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('PRE', NULL, 2010, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 1050873574892.34, 'USD', 2369422645757.31, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('PRI', NULL, 2010, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 98381300000.0, 'USD', 115102268666.272, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('SAS', NULL, 1997, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 550712123644.937, 'USD', 2369718420822.41, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(1000,)]
inserting 25 records
  ('SLE', NULL, 1997, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 850218033.622007, 'USD', 2843834371.29332, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('SSA', NULL, 1997, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 407305462065.457, 'USD', 1226735528128.59, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ('SSF', NULL, 1997, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, 407871965034.115, 'USD', 1227721824110.51, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
  ...
  ('SXM', NULL, 2009, NULL, 'CO2e * kt', NULL, 'CO2e * kt', NULL, NULL, 'USD', 1116375117.67062, 'USD', NULL, 'CO2e * kt / USD', NULL, 'CO2e * kt / USD')
batch insert result: [(25,)]

In [29]:
#df_result.to_csv(ingest_table+".csv")
sql=f"""
select * from {ingest_catalog}.{ingest_schema}.{ingest_table} where country_iso_code='TWN' and validity_date > 2015"""
pd.read_sql(sql, engine)

,country_iso_code,country_name,validity_date,ghg_total_with_lulucf,ghg_total_with_lulucf_units,ghg_total_without_lulucf,ghg_total_without_lulucf_units,scope1_excl_source,gdp,gdp_units,gdp_ppp,gdp_ppp_units,ghg_intensity_with_lulucf_per_gdp,ghg_intensity_with_lulucf_per_gdp_units,ghg_intensity_without_lulucf_per_gdp,ghg_intensity_without_lulucf_per_gdp_units
0,TWN,None,2016,None,CO2e * kt,298000.0,CO2e * kt,PRIMAP,None,USD,None,USD,None,CO2e * kt / USD,None,CO2e * kt / USD
1,TWN,None,2017,None,CO2e * kt,304000.0,CO2e * kt,PRIMAP,None,USD,None,USD,None,CO2e * kt / USD,None,CO2e * kt / USD
2,TWN,None,2018,None,CO2e * kt,302000.0,CO2e * kt,PRIMAP,None,USD,None,USD,None,CO2e * kt / USD,None,CO2e * kt / USD
3,TWN,None,2019,None,CO2e * kt,293000.0,CO2e * kt,PRIMAP,None,USD,None,USD,None,CO2e * kt / USD,None,CO2e * kt / USD
4,TWN,None,2020,None,CO2e * kt,291000.0,CO2e * kt,PRIMAP,None,USD,None,USD,None,CO2e * kt / USD,None,CO2e * kt / USD
5,TWN,None,2021,None,CO2e * kt,305000.0,CO2e * kt,PRIMAP,None,USD,None,USD,None,CO2e * kt / USD,None,CO2e * kt / USD