<font size="5">Ingest WDI - "Population" data into Trino pipeline</font>

In [1]:
from dotenv import dotenv_values, load_dotenv
import osc_ingest_trino as osc
import os
import pathlib
import shutil

In [2]:
dotenv_dir = os.environ.get('CREDENTIAL_DOTENV_DIR', os.environ.get('PWD', '/opt/app-root/src'))
dotenv_path = pathlib.Path(dotenv_dir) / 'credentials.env'
if os.path.exists(dotenv_path):
    load_dotenv(dotenv_path=dotenv_path,override=True)

In [3]:
# use a catalog that is configured for iceberg

iceberg_catalog = 'osc_datacommons_dev'
iceberg_schema = 'pcaf_sovereign_footprint'
pcaf_table_prefix = ''
iceberg_table = 'sf_wdi_population'

ingest_catalog = 'osc_datacommons_hive_ingest'
ingest_schema = 'ingest'


#ingest_catalog = 'osc_datacommons_dev'
#ingest_schema = 'pcaf_sovereign_footprint'

Load Environment Variables

In [4]:
import trino
from sqlalchemy.engine import create_engine

env_var_prefix = 'TRINO'

sqlstring = 'trino://{user}@{host}:{port}/'.format(
    user = os.environ[f'{env_var_prefix}_USER'],
    host = os.environ[f'{env_var_prefix}_HOST'],
    port = os.environ[f'{env_var_prefix}_PORT']
)
sqlargs = {
    'auth': trino.auth.JWTAuthentication(os.environ[f'{env_var_prefix}_PASSWD']),
    'http_scheme': 'https',
    'catalog': 'osc_datacommons_dev'
}
engine = create_engine(sqlstring, connect_args = sqlargs)
connection = engine.connect()

trino_bucket = osc.attach_s3_bucket("S3_DEV")

In [5]:
import boto3

s3_source = boto3.resource(
    service_name="s3",
    endpoint_url=os.environ['S3_LANDING_ENDPOINT'],
    aws_access_key_id=os.environ['S3_LANDING_ACCESS_KEY'],
    aws_secret_access_key=os.environ['S3_LANDING_SECRET_KEY'],
)
source_bucket = s3_source.Bucket(os.environ['S3_LANDING_BUCKET'])

Open a Trino connection using JWT for authentication

In [6]:
# Show available schemas to ensure trino connection is set correctly
schema_read = engine.execute(f'show schemas in {ingest_catalog}')
for row in schema_read.fetchall():
    print(row)

('aicoe_osc_demo_results',)
('default',)
('demo_dv',)
('dera',)
('essd',)
('iceberg_demo',)
('information_schema',)
('ingest',)
('mdt_sandbox',)
('pcaf_sovereign_footprint',)
('sandbox',)
('wri_gppd',)

Load GDP file (updated sporadically from https://data.worldbank.org/indicator/NY.GDP.PCAP.PP.CD)

In [7]:
import pandas as pd
import openpyxl
import ParseXLS as parser



## GDP
ticker_file = s3_source.Object(os.environ['S3_LANDING_BUCKET'],'PCAF-sovereign-footprint/WDI/Population_Data.csv')
ticker_file.download_file(f'/tmp/Population_Data.csv')

df = parser.process('WDI_population.ini','WDI_population.csv') 

# year values are delivered twice . remove the unnecessary part

df[['validity_date', 'column_to_drop']] = df['validity_date'].str.split(' ', expand=True)

df.drop('column_to_drop', axis=1, inplace=True)


## GDP PPP

#df=df.astype({'validity_date': 'int32'})
df= df.convert_dtypes()
df.info(verbose=True)
df= df[['rec_source','data_provider','country_iso_code','country_name','validity_date','attribute','value','value_units']].dropna(subset=['value'])
#df = df.convert_dtypes()
print(df.info(verbose=True))


#df

WDI_population.ini
file_list:
['/tmp/Population_Data.csv']
/tmp/Population_Data.csv
2
csv
/tmp/Population_Dat
<configparser.ConfigParser object at 0x7ff07092a850>
           Series Name  Series Code  \
0    Population, total  SP.POP.TOTL
1    Population, total  SP.POP.TOTL
2    Population, total  SP.POP.TOTL
3    Population, total  SP.POP.TOTL
4    Population, total  SP.POP.TOTL
..                 ...          ...
261  Population, total  SP.POP.TOTL
262  Population, total  SP.POP.TOTL
263  Population, total  SP.POP.TOTL
264  Population, total  SP.POP.TOTL
265  Population, total  SP.POP.TOTL

                                   Country Name Country Code 1990 [YR1990]  \
0                                   Afghanistan          AFG      12412311
1                                       Albania          ALB       3286542
2                                       Algeria          DZA      25758872
3                                American Samoa          ASM         47351
4                                       Andorra          AND         54508
..                                          ...          ...           ...
261                          Sub-Saharan Africa          SSF     509451875
262  Sub-Saharan Africa (excluding high income)          SSA     509382368
263   Sub-Saharan Africa (IDA & IBRD countries)          TSS     509451875
264                         Upper middle income          UMC    1926685059
265                                       World          WLD    5280062644

    2000 [YR2000] 2012 [YR2012] 2013 [YR2013] 2014 [YR2014] 2015 [YR2015]  \
0        20779957      31161378      32269592      33370804      34413603
1         3089027       2900401       2895092       2889104       2880703
2        31042238      37383899      38140135      38923688      39728020
3           57816         55669         55717         55791         55806
4           65390         82427         80770         79213         77993
..            ...           ...           ...           ...           ...
261     665327588     917725880     943039474     968958352     995458498
262     665246457     917637577     942949525     968866993     995365079
263     665327588     917725880     943039474     968958352     995458498
264    2154077670    2354967527    2374694434    2394063066    2412687400
265    6114324044    7089254548    7175500378    7261846543    7347679005

    2016 [YR2016] 2017 [YR2017] 2018 [YR2018] 2019 [YR2019] 2020 [YR2020]  \
0        35383028      36296111      37171922      38041757      38928341
1         2876101       2873457       2866376       2854191       2837849
2        40551398      41389174      42228415      43053054      43851043
3           55739         55617         55461         55312         55197
4           77295         76997         77008         77146         77265
..            ...           ...           ...           ...           ...
261    1022530245    1050162810    1078319512    1106957870    1136046775
262    1022435568    1050066967    1078222750    1106860245    1135948313
263    1022530245    1050162810    1078319512    1106957870    1136046775
264    2431145930    2449903406    2466337061    2480707519    2492597173
265    7433650819    7519371102    7602716232    7683806444    7763932702

    2021 [YR2021]
0        39835428
1         2811666
2        44616626
3           55103
4           77354
..            ...
261    1165563987
262    1165464785
263    1165563987
264    2501427939
265    7836630792

[266 rows x 16 columns]
['']
eval_components
['Series Name']
['Series Name', 'Series Code', 'Country Name', 'Country Code', '1990 [YR1990]', '2000 [YR2000]', '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]', '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]', '2021 [YR2021]']
Series Name
Index(['column names original:Series Name',
       'column names original:Series Code',
       'column names original:Country Name',
       'column names original:Country Code',
       'column names original:1990 [YR1990]',
       'column names original:2000 [YR2000]',
       'column names original:2012 [YR2012]',
       'column names original:2013 [YR2013]',
       'column names original:2014 [YR2014]',
       'column names original:2015 [YR2015]',
       'column names original:2016 [YR2016]',
       'column names original:2017 [YR2017]',
       'column names original:2018 [YR2018]',
       'column names original:2019 [YR2019]',
       'column names original:2020 [YR2020]',
       'column names original:2021 [YR2021]',
       'column names original:attribute', 'column names original:units'],
      dtype='object')
Index(['column names after rename:Series Name',
       'column names after rename:Series Code',
       'column names after rename:country_name',
       'column names after rename:country_iso_code',
       'column names after rename:1990 [YR1990]',
       'column names after rename:2000 [YR2000]',
       'column names after rename:2012 [YR2012]',
       'column names after rename:2013 [YR2013]',
       'column names after rename:2014 [YR2014]',
       'column names after rename:2015 [YR2015]',
       'column names after rename:2016 [YR2016]',
       'column names after rename:2017 [YR2017]',
       'column names after rename:2018 [YR2018]',
       'column names after rename:2019 [YR2019]',
       'column names after rename:2020 [YR2020]',
       'column names after rename:2021 [YR2021]',
       'column names after rename:attribute',
       'column names after rename:units'],
      dtype='object')
266
266
before melt
                                   country_name country_iso_code  \
0                                   Afghanistan              AFG
1                                       Albania              ALB
2                                       Algeria              DZA
3                                American Samoa              ASM
4                                       Andorra              AND
..                                          ...              ...
261                          Sub-Saharan Africa              SSF
262  Sub-Saharan Africa (excluding high income)              SSA
263   Sub-Saharan Africa (IDA & IBRD countries)              TSS
264                         Upper middle income              UMC
265                                       World              WLD

    1990 [YR1990] 2000 [YR2000] 2012 [YR2012] 2013 [YR2013] 2014 [YR2014]  \
0        12412311      20779957      31161378      32269592      33370804
1         3286542       3089027       2900401       2895092       2889104
2        25758872      31042238      37383899      38140135      38923688
3           47351         57816         55669         55717         55791
4           54508         65390         82427         80770         79213
..            ...           ...           ...           ...           ...
261     509451875     665327588     917725880     943039474     968958352
262     509382368     665246457     917637577     942949525     968866993
263     509451875     665327588     917725880     943039474     968958352
264    1926685059    2154077670    2354967527    2374694434    2394063066
265    5280062644    6114324044    7089254548    7175500378    7261846543

    2015 [YR2015] 2016 [YR2016] 2017 [YR2017] 2018 [YR2018] 2019 [YR2019]  \
0        34413603      35383028      36296111      37171922      38041757
1         2880703       2876101       2873457       2866376       2854191
2        39728020      40551398      41389174      42228415      43053054
3           55806         55739         55617         55461         55312
4           77993         77295         76997         77008         77146
..            ...           ...           ...           ...           ...
261     995458498    1022530245    1050162810    1078319512    1106957870
262     995365079    1022435568    1050066967    1078222750    1106860245
263     995458498    1022530245    1050162810    1078319512    1106957870
264    2412687400    2431145930    2449903406    2466337061    2480707519
265    7347679005    7433650819    7519371102    7602716232    7683806444

    2020 [YR2020] 2021 [YR2021]          attribute units
0        38928341      39835428  Population, total
1         2837849       2811666  Population, total
2        43851043      44616626  Population, total
3           55197         55103  Population, total
4           77265         77354  Population, total
..            ...           ...                ...   ...
261    1136046775    1165563987  Population, total
262    1135948313    1165464785  Population, total
263    1136046775    1165563987  Population, total
264    2492597173    2501427939  Population, total
265    7763932702    7836630792  Population, total

[266 rows x 16 columns]
after melt
     country_iso_code                                country_name  \
0                 AFG                                 Afghanistan
1                 ALB                                     Albania
2                 DZA                                     Algeria
3                 ASM                              American Samoa
4                 AND                                     Andorra
...               ...                                         ...
3187              SSF                          Sub-Saharan Africa
3188              SSA  Sub-Saharan Africa (excluding high income)
3189              TSS   Sub-Saharan Africa (IDA & IBRD countries)
3190              UMC                         Upper middle income
3191              WLD                                       World

              attribute units           year       value
0     Population, total        1990 [YR1990]    12412311
1     Population, total        1990 [YR1990]     3286542
2     Population, total        1990 [YR1990]    25758872
3     Population, total        1990 [YR1990]       47351
4     Population, total        1990 [YR1990]       54508
...                 ...   ...            ...         ...
3187  Population, total        2021 [YR2021]  1165563987
3188  Population, total        2021 [YR2021]  1165464785
3189  Population, total        2021 [YR2021]  1165563987
3190  Population, total        2021 [YR2021]  2501427939
3191  Population, total        2021 [YR2021]  7836630792

[3192 rows x 6 columns]
list columns
['country_iso_code', 'country_name', 'attribute', 'units', 'year', 'value']
['country_iso_code', 'country_name', 'attribute', 'value_units', 'value', 'rec_source', 'data_provider', 'validity_date']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3192 entries, 0 to 3191
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rec_source        3192 non-null   string
 1   data_provider     3192 non-null   string
 2   country_name      3192 non-null   string
 3   country_iso_code  3192 non-null   string
 4   validity_date     3192 non-null   string
 5   attribute         3192 non-null   string
 6   value             3192 non-null   string
 7   value_units       3192 non-null   string
dtypes: string(8)
memory usage: 224.4 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3192 entries, 0 to 3191
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   rec_source        3192 non-null   string
 1   data_provider     3192 non-null   string
 2   country_iso_code  3192 non-null   string
 3   country_name      3192 non-null   string
 4   validity_date     3192 non-null   string
 5   attribute         3192 non-null   string
 6   value             3192 non-null   string
 7   value_units       3192 non-null   string
dtypes: string(8)
memory usage: 224.4 KB
None

In [8]:
#%run -i TransposeXLS.py --config WDI.ini --output=WDI.csv

In [9]:
import osc_ingest_trino as osc
columnschema = osc.create_table_schema_pairs(df) 

sql = f"""
drop table if exists {iceberg_catalog}.{iceberg_schema}.{iceberg_table}
"""
print(sql)
qres = engine.execute(sql)
#print(qres.fetchall())

drop table if exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_wdi_population

In [10]:
tabledef = f"""
create table if not exists {iceberg_catalog}.{iceberg_schema}.{iceberg_table}(
{columnschema}
) with (
    format = 'ORC',
    partitioning = array['validity_date']
)
"""
print(tabledef)
qres = engine.execute(tabledef)
#print(qres.fetchall())

create table if not exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_wdi_population(
    rec_source varchar,
    data_provider varchar,
    country_iso_code varchar,
    country_name varchar,
    validity_date varchar,
    attribute varchar,
    value varchar,
    value_units varchar
) with (
    format = 'ORC',
    partitioning = array['validity_date']
)

In [11]:
# Delete the data for the related attribute 
sql=f"""
delete from {iceberg_catalog}.{iceberg_schema}.{iceberg_table} 
"""
qres = engine.execute(sql)
print(qres.fetchall())

[(None,)]

In [12]:
sql=f"""
select * from {iceberg_catalog}.{iceberg_schema}.{iceberg_table} 
"""
pd.read_sql(sql, engine)

Empty DataFrame
Columns: [rec_source, data_provider, country_iso_code, country_name, validity_date, attribute, value, value_units]
Index: []

In [13]:
print(ingest_catalog)
#df=df.drop(df[df.country_name=="cote d'ivoire"].index)
df.to_sql(iceberg_table,
           con=engine,
           schema=iceberg_schema,
           if_exists='append',
           index=False,
           method=osc.TrinoBatchInsert(batch_size = 1000, verbose = True))

osc_datacommons_hive_ingest
constructed fully qualified table name as: "pcaf_sovereign_footprint.sf_wdi_population"
inserting 1000 records
  ('Population_Data.csv', 'WDI', 'AFG', 'Afghanistan', '1990', 'Population, total', '12412311', '')
  ('Population_Data.csv', 'WDI', 'ALB', 'Albania', '1990', 'Population, total', '3286542', '')
  ('Population_Data.csv', 'WDI', 'DZA', 'Algeria', '1990', 'Population, total', '25758872', '')
  ...
  ('Population_Data.csv', 'WDI', 'TUV', 'Tuvalu', '2013', 'Population, total', '10849', '')
batch insert result: [(1000,)]
inserting 1000 records
  ('Population_Data.csv', 'WDI', 'UGA', 'Uganda', '2013', 'Population, total', '35694519', '')
  ('Population_Data.csv', 'WDI', 'UKR', 'Ukraine', '2013', 'Population, total', '45489648', '')
  ('Population_Data.csv', 'WDI', 'ARE', 'United Arab Emirates', '2013', 'Population, total', '9197908', '')
  ...
  ('Population_Data.csv', 'WDI', 'NRU', 'Nauru', '2017', 'Population, total', '10577', '')
batch insert result: [(1000,)]
inserting 1000 records
  ('Population_Data.csv', 'WDI', 'NPL', 'Nepal', '2017', 'Population, total', '27632682', '')
  ('Population_Data.csv', 'WDI', 'NLD', 'Netherlands', '2017', 'Population, total', '17131296', '')
  ('Population_Data.csv', 'WDI', 'NCL', 'New Caledonia', '2017', 'Population, total', '270000', '')
  ...
  ('Population_Data.csv', 'WDI', 'DEU', 'Germany', '2021', 'Population, total', '83129285', '')
batch insert result: [(1000,)]
inserting 192 records
  ('Population_Data.csv', 'WDI', 'GHA', 'Ghana', '2021', 'Population, total', '31732128', '')
  ('Population_Data.csv', 'WDI', 'GIB', 'Gibraltar', '2021', 'Population, total', '33691', '')
  ('Population_Data.csv', 'WDI', 'GRC', 'Greece', '2021', 'Population, total', '10664568', '')
  ...
  ('Population_Data.csv', 'WDI', 'WLD', 'World', '2021', 'Population, total', '7836630792', '')
batch insert result: [(192,)]

In [14]:
import pandas as pd
sql=f"""
select * from {iceberg_catalog}.{iceberg_schema}.{iceberg_table} " + " where country_iso_code='BHS' order by validity_date desc"""
pd.read_sql(sql, engine)

,rec_source,data_provider,country_iso_code,country_name,validity_date,attribute,value,value_units
0,Population_Data.csv,WDI,BHS,"Bahamas, The",2021,"Population, total",396914,
1,Population_Data.csv,WDI,BHS,"Bahamas, The",2020,"Population, total",393248,
2,Population_Data.csv,WDI,BHS,"Bahamas, The",2019,"Population, total",389486,
3,Population_Data.csv,WDI,BHS,"Bahamas, The",2018,"Population, total",385635,
4,Population_Data.csv,WDI,BHS,"Bahamas, The",2017,"Population, total",381749,
5,Population_Data.csv,WDI,BHS,"Bahamas, The",2016,"Population, total",377923,
6,Population_Data.csv,WDI,BHS,"Bahamas, The",2015,"Population, total",374200,
7,Population_Data.csv,WDI,BHS,"Bahamas, The",2014,"Population, total",370625,
8,Population_Data.csv,WDI,BHS,"Bahamas, The",2013,"Population, total",367162,
9,Population_Data.csv,WDI,BHS,"Bahamas, The",2012,"Population, total",363581,
10,Population_Data.csv,WDI,BHS,"Bahamas, The",2000,"Population, total",298045,
11,Population_Data.csv,WDI,BHS,"Bahamas, The",1990,"Population, total",256227,

In [15]:
dbt_dict = {}
dbt_dict['models'] = {}
hive_bucket = osc.attach_s3_bucket('S3_OSCCL2')

In [24]:
def create_trino_table_and_dbt_metadata(tablename, df, partition_columns=[], custom_meta_content='', custom_meta_fields='', verbose=False):
    iceberg_table = f'{pcaf_table_prefix}{tablename}'
    print ("iceberg_table:"+ iceberg_table)

    if custom_meta_content:
        dbt_models = dbt_dict['models']
        dbt_models[iceberg_table] = dbt_table = { 'description': custom_meta_content['description']}
        if custom_meta_fields:
            dbt_table['columns'] = dbt_columns = (
                { name: {'description': custom_meta_fields[name]['Description'] } for name in custom_meta_fields.keys() }
            )
            for name in custom_meta_fields.keys():
                if 'tags' in custom_meta_fields[name].keys():
                    dbt_columns[name]['tags'] = custom_meta_fields[name]['tags']
    elif custom_meta_fields:
        raise VALUE_ERROR

    drop_table = engine.execute(f"drop table if exists {iceberg_schema}.{iceberg_table}_source")
    #drop_table.fetchall()
    
    osc.fast_pandas_ingest_via_hive(
        df,
        engine,
        iceberg_catalog, iceberg_schema, f"{iceberg_table}_source",
        hive_bucket, ingest_catalog, ingest_schema,
        partition_columns = partition_columns,
        overwrite = True,
        typemap={'datetime64[ns]':'date'},
        verbose = verbose
    )

    with open(f"/opt/app-root/src/PCAF-sovereign-footprint/dbt/pcaf_transform/models/{iceberg_table}.sql", "w", encoding="utf-8") as f:
        print("{{ config(materialized='view', view_security='invoker') }}" + f"""
with source_data as (
    select {', '.join(df.columns)}
    from {iceberg_catalog}.{iceberg_schema}.{iceberg_table}_source
)
select * from source_data

""", file=f)

In [17]:
def description_is (s):
    return { 'Description': s}

In [18]:
shutil.rmtree("/opt/app-root/src/PCAF-sovereign-footprint/dbt/pcaf_transform/models", ignore_errors=True)
#path = "/opt/app-root/src/sovereign-footprint"
#dir_list = os.listdir(path)
#print("Files and directories in '", path, "' :") 
# print the list
#print(dir_list)

os.mkdir("/opt/app-root/src/PCAF-sovereign-footprint/dbt/pcaf_transform/models", mode=0o755)
custom_meta_content = {
    'data provider': df[['data_provider']],
     'description': 'Description',
}
custom_meta_fields= {}
custom_meta_fields['country_iso_code'] = description_is("Country ISO Code")

In [25]:
create_trino_table_and_dbt_metadata('sf_wdi_population', df, [], custom_meta_content, custom_meta_fields,verbose=True)

iceberg_table:sf_wdi_population

verifying existence of table osc_datacommons_dev.pcaf_sovereign_footprint.sf_wdi_population_source
create table if not exists osc_datacommons_dev.pcaf_sovereign_footprint.sf_wdi_population_source (
    rec_source varchar,
    data_provider varchar,
    country_iso_code varchar,
    country_name varchar,
    validity_date varchar,
    attribute varchar,
    value varchar,
    value_units varchar
) with (
    format = 'parquet'
)

staging dataframe parquet to s3 osc-datacommons-s3-bucket-dev02
/tmp/cdd5e53782f04bd5ba9c77be1ca916bc.parquet  -->  trino/ingest/ingest_temp_44d16fab/cdd5e53782f04bd5ba9c77be1ca916bc.parquet

declaring intermediate hive table osc_datacommons_hive_ingest.ingest.ingest_temp_44d16fab
create table if not exists osc_datacommons_hive_ingest.ingest.ingest_temp_44d16fab (
    rec_source varchar,
    data_provider varchar,
    country_iso_code varchar,
    country_name varchar,
    validity_date varchar,
    attribute varchar,
    value varchar,
    value_units varchar
) with (
    format = 'parquet',
    external_location = 's3a://osc-datacommons-s3-bucket-dev02/trino/ingest/ingest_temp_44d16fab/'
)

syncing partition metadata on intermediate hive table

overwriting data in osc_datacommons_dev.pcaf_sovereign_footprint.sf_wdi_population_source
delete from osc_datacommons_dev.pcaf_sovereign_footprint.sf_wdi_population_source
[(None,)]

transferring data: osc_datacommons_hive_ingest.ingest.ingest_temp_44d16fab -> osc_datacommons_dev.pcaf_sovereign_footprint.sf_wdi_population_source
insert into osc_datacommons_dev.pcaf_sovereign_footprint.sf_wdi_population_source
select * from osc_datacommons_hive_ingest.ingest.ingest_temp_44d16fab
[(3192,)]

deleting table and data for intermediate table osc_datacommons_hive_ingest.ingest.ingest_temp_44d16fab
[{'ResponseMetadata': {'RequestId': 'F0C0E7H3NJ315TMJ', 'HostId': 'NCLV6OJhF8Bxh3Uk5yUpaS6w1ofh2PQ4j2fZabEE0OU1fYMm67KRg+Wx226Gi/cNhLHFyfNvlY8=', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amz-id-2': 'NCLV6OJhF8Bxh3Uk5yUpaS6w1ofh2PQ4j2fZabEE0OU1fYMm67KRg+Wx226Gi/cNhLHFyfNvlY8=', 'x-amz-request-id': 'F0C0E7H3NJ315TMJ', 'date': 'Wed, 26 Oct 2022 15:00:41 GMT', 'content-type': 'application/xml', 'transfer-encoding': 'chunked', 'server': 'AmazonS3', 'connection': 'close'}, 'RetryAttempts': 0}, 'Deleted': [{'Key': 'trino/ingest/ingest_temp_44d16fab/cdd5e53782f04bd5ba9c77be1ca916bc.parquet'}]}]

In [20]:
dbt_yml = open("/opt/app-root/src/PCAF-sovereign-footprint/dbt/pcaf_transform/models/pcaf_schema.yml", "w", encoding="utf-8")

In [21]:
print("version: 2", file=dbt_yml)

indent = 0
print("\nmodels:", file=dbt_yml)
indent = indent + 2
for name in dbt_dict['models']:
    model = dbt_dict['models'][name]
    print(f"{' '*indent}- name: {name}", file=dbt_yml)
    indent = indent + 2
    print(f"{' '*indent}description: {model['description']}", file=dbt_yml)
    print(f"\n{' '*indent}columns:", file=dbt_yml)
    indent = indent + 2
    columns = model['columns']
    for col in columns:
        print(f"{' '*indent}- name: {col}", file=dbt_yml)
        indent = indent + 2
        for col_meta in columns[col].keys():
            print(f"{' '*indent}{col_meta}: {columns[col][col_meta]}", file=dbt_yml)
        indent = indent - 2
    print("", file=dbt_yml) # newline comes for free...
    indent = indent - 4
indent = indent - 2
assert(indent==0)

In [22]:
dbt_yml.close()